/* GENERAL */

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #3E4444;
    font-family: 'Chakra Petch', sans-serif;
}

h1 {
    text-align: center;
    font-size: 30px;
}

h2 {
    text-align: center;
    color: #FF4893;
    margin-top: 50px;
    font-size: 24px;
}

hr {
    border: 1px solid #cc8e35;
    width: 30%;
}

a {
    color: #8B87C1;
    font-weight: 600;
}

section {
    margin-bottom: 50px;
}

@media only screen and (min-width: 768px) {
    a:hover {
        color: #FF4893;
    }
}

/* HEADER */

header {
    text-align: center;
}

header img {
    width: 20%;
    margin: 10px;
}

@media only screen and (min-width: 768px) {
    header img {
        width: 100px;
        margin: 20px;
    }
}

/* DESCRIPTION */

#description-section {
    text-align: center;
    border: #8B87C1 5px solid;
    border-radius: 5px;
    width: 90%;
    padding: 5px;
    margin: auto;
}

@media only screen and (min-width: 768px) {
    #description-section {
        width: 60%;
        padding: 20px;
    }
}

/* PROGRAM */

#program-section {
    display: flex;
    flex-direction: column;
}

#program-legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 30px 0px 50px 0px;
}

.legend {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.legend svg {
    height: 50px;
}

#program {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.backyard {
    width: 400px;
    margin: 0 30px 30px 30px;
    padding: 20px;
    border: 1px solid #FF4893;
    border-radius: 5px;
}

.backyard-name {
    text-align: center;
    font-size: 1.3em;
    padding: 5px;
}

.backyard-info {
    text-align: center;
    padding: 5px;
}

.backyard-info svg {
    fill: #405d27;
    height: 30px;
}

.backyard-description {
    padding: 5px;
}

.backyard-icons {
    text-align: center;
}

.backyard-icons svg {
    height: 40px;
    margin: 10px 10px 0 10px;
}

/* MAP */

#map-section {
    text-align: center;
}

#map-section iframe {
    width: 1000px;
    max-width: 96%;
    border: none;
}

/* RULES */

#rules-section {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

#rules-section img {
    display: none;
}

#seller {
    width: 90%;
    text-align: right;
}

#seller h2 {
    text-align: right;
    padding-top: 0;
    margin-top: 0;
}

#buyer {
    width: 90%;
    text-align: left;
}

#buyer h2 {
    text-align: left;
    padding-top: 0;
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    #rules-section {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    #rules-section img {
        display: block;
        height: 100px;
    }

    #seller {
        width: 40%;
    }

    #buyer {
        width: 40%;
    }
}

/* ORGANIZER */

.organizer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media only screen and (min-width: 768px) {
    .organizer {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        text-align: left;
    }
}

/* FOOTER */

footer {
    width: 100%;
    background-color: #8B87C1;
    padding: 20px 0 20px 0;
    text-align: center;
    line-height: 7px;
    font-size: 14px;
}

footer a {
    color: white;
}